<form #postForm="ngForm" (ngSubmit)="doPost(postForm.value)">
  <div class="row">
    <div class="col">
      <p>Country:</p>
      <input type="text" class="form-control" id="country" required [ngModel]="(country$ | async)" name="country" (ngModelChange)="doAutoPost($event)" />
    </div>
  </div>
  <div class="row">
    <div class="col">
      <p>School name:</p>
      <input type="text" class="form-control" id="name" required [ngModel]="(schoolName$ | async)" name="name" (ngModelChange)="doAutoPost($event)" />
    </div>
  </div>
  <div class="row">
    <div class="col">
      <button>Search</button>
    </div>
  </div>
</form>
<app-search-results></app-search-results>