<form #postForm="ngForm" (ngSubmit)="doPost(postForm.value)">
  <div class="row">
    <div class="col">
      <p>Country:</p>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-3">
      <input type="text" class="form-control" id="country" required [ngModel]="(country$ | async)" name="country" (ngModelChange)="autoChange('country',$event)" />
    </div>
  </div>
  <div class="row col">&nbsp;</div>
  <div class="row">
    <div class="col">
      <p>School name:</p>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-3">
      <input type="text" class="form-control" id="name" required [ngModel]="(schoolName$ | async)" name="name" (ngModelChange)="autoChange('name',$event)" />
    </div>
  </div>
  <div class="row col">&nbsp;</div>
  <div class="row">
    <div class="col">
      <button type="submit">Search</button>
    </div>
  </div>
  <div class="row col">&nbsp;</div>
</form>
<hr>
<app-search-results [showAddRemove]="true"></app-search-results>
<app-details  [allowDetails]="false"></app-details>
